/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 100vh;
}
.app-main-note-edit {
  height: 100%;
}

.no-active-note {
  width: 70%;
  height: 100%;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  outline: none;
}

.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

.app-main-note-edit textarea {
  height: 80%;
}

.app-main,
.app-main-note-edit textarea,
.app-main-note-edit input {
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transtion: background-color 500ms linear;
}

.dark-mode-main,
.dark-mode-main input,
.dark-mode-main textarea {
  background-color: #1e1e1e;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transtion: background-color 500ms linear;
  color: white;
}
