/* SIDEBAR STYLES */

.app-sidebar {
  width: 30%;
  height: 100%;
  border-right: 1px solid #ddd;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transtion: background-color 500ms linear;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-header i{
  cursor: pointer;
  align-self: center;
  padding: 10px;
  border-radius: 5px;

}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0px 20px;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}

.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note.active,
.app-sidebar-note.active small {
  background-color: rgb(105, 190, 233);
  color: white;
}

.dark-mode-sidebar {
  background-color: #242424;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transtion: background-color 500ms linear;
  color: white;
}

.dark-mode-sidebar-active.active,
.dark-mode-sidebar-active.active small {
  background-color: #464646;
}
